<!--
  Generated template for the OtrsRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>OTRS Request</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-list-header>
            Please Enter Your Request Below
        </ion-list-header>

        <ion-item>
            <ion-label>Request</ion-label>
            <div item-content style="width: 70%;padding:18px 0px">
                <textarea placeholder="You comments" style="width: 100%; height: 80px;" [(ngModel)]="otrsRequest.comment"></textarea>
            </div>
        </ion-item>

        <ion-item>
            <ion-toggle [(ngModel)]="otrsRequest.is_urgent"></ion-toggle>
            <ion-label>
                Mark As Urgent
            </ion-label>
        </ion-item>
    </ion-list>

    <button ion-button icon-left block (click)="addPhoto()">
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        Attach Photo
    </button>

    <ion-row *ngIf="otrsRequest.photos.length > 0">
        <ion-col col-3 *ngFor="let item of otrsRequest.photos; let i = index;">
            <img src="{{item}}"/>
        </ion-col>
    </ion-row>

    <ion-list style="margin-top: 30px;">
        <ion-list-header>
            Office Detail
        </ion-list-header>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/images/working-icon.png">
            </ion-avatar>
            <h2>{{office.company}}</h2>
            <p>{{office.name}}</p>
        </ion-item>
        <ion-item>
            <ion-label fixed>Office #</ion-label>
            <ion-note item-end>{{office.$id}}</ion-note>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="createNewRequest()" [disabled]="!isConnected">SUBMIT NEW REQUEST</button>
</ion-content>
